/* Inter font : resource - fonts.google.com */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/*===== Margenes =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}
.profile {
  border-radius: 100px;
}

:root {
  --primary-color: #684fff;
  --secondary-color: #5033ff;
  --gray-900: #0a1931;
  --gray-500: #737d8c;
  --gray-100: #dfe3eb;
  --white: white;
}

.social-icon {
  font-size: 35px;
}
.collapsed {
  stroke: #a71651;
}
.nex h3 {
  color: #a71651;
}
.navbar {
  background-color: #030316;
  box-shadow: 2px 2px 6px 6px #01010a;
}
.roncy {
  background-color: white;
}

body {
  background-color: #020213;
  display: grid;
}
.nav-item {
  padding-right: 8vh;
}

nav {
  font-weight: 600;
}

.hero {
  height: 100vh;
}

.nav-container .nav-logo {
  background-color: var(--gray-100);
  border-radius: 50px;
  color: var(--gray-900);
}

.hero-content {
  height: 100%;
}

.hero-content div h1 {
  font-weight: 700;
  font-size: 80px;
  color: var(--gray-900);
}

/* .hero-content div span {
  background-color: #5033ff;
  font-weight: 700;
  font-size: 80px;
  color: white;
} */
a {
  text-decoration: none;
}
.wrap {
  font-size: 50px;
  color: #a71651;
}
.social-icon {
  color: var(--gray-900);
}

/* ABOUT SECTION */
#about {
  transition: transform 0.2s ease;
  background-color: #030316;
}

#about .container:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 6px 6px #a71651;
  border-radius: 20px;
}

/* Skills SECTION */
.work-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}

.work-container .work-card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

.work-container .work-card:nth-child(1) .box .content a {
  background: #2196f3;
}

.work-container .work-card:nth-child(2) .box .content a {
  background: #e91e63;
}

.work-container .work-card:nth-child(3) .box .content a {
  background: #23c186;
}

.work-container .work-card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.work-container .work-card .box:hover {
  transform: translateY(-50px);
}

.work-container .work-card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

.work-container .work-card .box .content {
  padding: 20px;
  text-align: center;
}

body .work-container .work-card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

body .work-container .work-card .box .content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

body .work-container .work-card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

 .work-container .work-card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.work-container .work-card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}

/* CONTACTS SECTION  */
.contact-form {
  background: #020213;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 90%;
}
.contact-form .form-control {
  border-radius: 1rem;
}
.contact-image {
  text-align: center;
}
.contact-image img {
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}
.contact-form form {
  padding: 14%;
}
.contact-form form .row {
  margin-bottom: -7%;
}
.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: start;
  color: #a71651;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #a71651;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

/* FOOTER section */
.footer {
  background-color: #a71651;
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 1rem 0;
}
.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}
.footer__social {
  margin-bottom: var(--mb-4);
}
.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}
